body {
    background-color: #cccaca;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#kotak {
    width: 700px;
    height: 280px;
    background-color: rgb(228, 225, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
    border-radius: 20px;
    position: center; /* Menetapkan posisi relatif pada #kotak */
    box-shadow:  5px 5px 40px rgba(0, 0, 0, 0.3);
}

#kotak img {
    width: 60%;
    position: absolute; /* Menetapkan posisi absolut pada gambar */ /* Pusatkan vertikal gambar ke tengah #kotak */
    right: 0; /* Geser gambar ke ujung kanan #kotak */
    padding-bottom: 35px;
    padding-right: 80px;
}

p1 {
    padding-top: 15px;
}

p1, p2, p3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin: 3px;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    margin: 1px;
}

h2, h3 {
    font-weight: lighter;
}